{{>admin_header}}



<div class="py-5">
     <div class="container py-5">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 404</p>
               </div>
               <div class="col-md-10">
                    <h3>OOPSSS !! NOT FOUND...</h3>
                    <p>Trang hoặc đối tượng bạn tìm kiếm không tồn tại</p>
                    <a class="btn btn-danger" href="javascript: history.go(-1)">Go Back</a>
               </div>
          </div>
     </div>
</div>



{{>admin_footer}}