{{>admin_header}}

<div class="full_container">
   <div class="container-fluid">
      <div>

         <div class="midde_cont">
            <div class="container-fluid">
               <div class="row column_title">
                  <div class="col-md-12">
                     <div class="row page_title">
                        <h2>DÒNG SẢN PHẨM</h2>
                        <div class="ml-auto">
                           <a class="btn btn-primary" href="/admin/product/product-categories/new">Thêm mới</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <!-- table section -->
                  <div class="col-md-12">
                     <div class="white_shd full margin_bottom_30">
                        <div class="table_section padding_infor_info">
                           <div class="table-responsive-sm">
                              <table class="table">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>Mã dòng sản phẩm</th>
                                       <th>Tên gọi</th>
                                       <th>Ghi chú</th> 
                                       <th>Thao tác</th>                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {{#each categories }}
                                       {{#adminProduct_categoryRecord this}}{{/adminProduct_categoryRecord}}
                                    {{/each}}
                                 </tbody>
                              </table>
                           </div>

                           

                              {{#tablePaginate paginate}}{{/tablePaginate}}

                           



                        </div>
                     </div>
                  </div>

               </div>




            </div>

            <!-- footer -->
         </div>

      </div>
   </div>
</div>


{{>admin_footer}}