{{> header }}
{{> breadcrumb }}


<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link">                     
                    {{!-- <span class="icon_tag_alt"></span> --}}
                    <a href="/u/cart" >Giỏ hàng của bạn đang rỗng! </a><a href="/products">Hãy thêm một sản phẩm ưng ý vào giỏ hàng rồi quay lại đây nhé</a></h6> 
            </div>
        </div>
        
    </div>
</section>

{{> footer }} 