{{> header }}
{{> breadcrumb }}

<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">

                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th class="text-center">Số lượng</th>
                                <th>Tổng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each cart }}
                            {{#product_order_record this}}{{/product_order_record}}
                            {{/each}}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-lg-4">
                <div class="cart__total__procced">
                    <h6>ĐƠN HÀNG</h6>
                    <ul style="margin: 0">                        
                        <li>Ngày đặt <span>{{ order.ngay_lap }}</span></li>
                        <li>Trạng thái <span >{{ order.ten_trang_thai }}</span></li>
                    </ul>                    
                </div>
            </div>   
            
            <div class="col-lg-4">
                <div class="cart__total__procced">
                    <h6>Tổng giá trị</h6>
                    <ul style="margin: 0">                        
                        <li>Sản phẩm <span>{{#formatPrice total}}{{/formatPrice}}</span></li>
                        <li>Phí vận chuyển <span>{{#formatPrice order.phi_van_chuyen}}{{/formatPrice}}</span></li>
                    </ul>                    
                </div>
            </div>  

            <div class="col-lg-4">
                <div class="cart__total__procced">
                     <h6>Nhận hàng</h6>
                    <ul style="margin: 0">                        
                        <li>Người nhận <span>{{ order.nguoi_nhan }}</span></li>                       
                    </ul>                       
                    <p>{{ order.full_dia_chi }}</p>
                </div>
            </div>  

        </div>


    </div>
</section>



{{> footer }}