.auth__navigator ul li a::after{
    right: unset;
    top: unset;
}

.order-record:hover{
    background-color: #ffdfdf;
    cursor: pointer;
}


.link__not__drop{
    font-size: 14px;
	font-weight: 500;
	color: #111111;
	display: block;
}

.link__not__drop:hover{
    color: #111111;
}