{{>admin_header}}

<div class="full_container">
   <div class="container-fluid">
      <div>

         <div class="midde_cont">
            <div class="container-fluid">
               <div class="row column_title">
                  <div class="col-md-12">
                     <div class="row page_title">
                        <h2>Đơn hàng</h2>

                            {{!-- SEARCH GOES HERE --}}
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <!-- table section -->
                  <div class="col-md-12">
                     <div class="white_shd full margin_bottom_30">
                        <div class="table_section padding_infor_info">
                           <div class="table-responsive-sm">
                              <table class="table">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>Số hóa đơn</th>
                                       <th>Ngày đặt</th>
                                       <th>Người đặt</th>
                                       <th>Đơn giá</th> 
                                       <th>Địa chỉ</th> 
                                       <th>Người nhận</th> 
                                       <th>Trạng thái</th>
                                       <th>Thao tác</th>                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {{#each orders }}
                                       {{#admin_order this}}{{/admin_order}}
                                    {{/each}}
                                 </tbody>
                              </table>
                           </div>

                           

                           {{#tablePaginate paginate}}{{/tablePaginate}}

                           



                        </div>
                     </div>
                  </div>

               </div>




            </div>

            <!-- footer -->
         </div>

      </div>
   </div>
</div>


{{>admin_footer}}