{{>admin_header}}
<div class="full_container">
   <div class="container-fluid">
      <div>

         <div class="midde_cont">
            <div class="container-fluid">


               <div class="row">
                  <div class="w-100">
                     <div class="form__header__title">
                        <p>Thương hiệu mới</p>
                     </div>
                  </div>
                  <form class="generic__form" method="POST" action="/admin/status">
                     <div class="form-group">
                        <label for="madonvi_input">Mã trạng thái</label> {{#if existed }}<span class="form__error__text">Mã trạng thái này đã tồn tại</span>{{/if }}
                        <input name="status_id" type="text" class="form-control" required>
                     </div>
                     <div class="form-group">
                        <label for="tendonvi_input">Tên trạng thái</label>
                        <input name="status_name" type="text" class="form-control" required>
                     </div>
                     <div class="form-group form-check">
                        <input name="is_default" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="">Trạng thái mặc định</label>
                     </div>
                     <div class="form-group">
                        <label for="ghichu_input">Ghi chú</label>
                        <textarea name="note" style="height: 200px" class="form-control"></textarea>
                     </div>
                     <button type="submit" class="btn btn-primary">Thêm</button>
                  </form>

               </div>


            </div>

            <!-- footer -->
         </div>

      </div>
   </div>
</div>

<script src="/admin/js/brands.js"></script>

{{>admin_success}}

{{>admin_footer}}