<div class="container-fluid" style="margin-top: 50vh">
    <div class="footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All
            rights reserved | Xuân Dũng Store
        </p>
    </div>
</div>