<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="footer__about">
              <div class="footer__logo">
                <a href="./index.html">
                  <img src="/img/logo.png" alt="" />
                </a>
              </div>
              <div class="footer__widget">                
                <ul>
                  <li>
                    <a>Tên công ty: Cửa hàng Xuân Dũng</a>
                  </li>
                  <li>
                    <a>Giấy phép kinh doanh: 57A8020747</a>
                  </li>
                  <li>
                    <a>Mã số thuế: 1801193644</a>
                  </li>
                  <li>
                    <a>Hotline: 09-0707-9559</a>
                  </li>
                  <li>
                    <a>Địa chỉ: 130B2 KV2, P.An Khánh, Q.Ninh Kiều, TP.Cần Thơ</a>
                  </li>
                </ul>
              </div>
              <p>

              </p>
              
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-5">
            <div class="footer__widget">
              <h6>Lối tắt</h6>
              <ul>
                <li>
                  <a href="#">Giới thiệu</a>
                </li>
                <li>
                  <a href="#">Tin tức</a>
                </li>
                <li>
                  <a href="#">Liên hệ</a>
                </li>
                <li>
                  <a href="#">Giải đáp nhanh</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="footer__widget">
              <h6>Tài khoản</h6>
              <ul>
                <li>
                  <a href="#">Tài khoản của tôi</a>
                </li>
                <li>
                  <a href="#">Theo dõi đơn hàng</a>
                </li>
                <li>
                  <a href="#">Thanh toán</a>
                </li>
                <li>
                  <a href="#">Đóng góp</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="footer__newslatter">
              <h6>Nhận thông báo</h6>
              <form action="#">
                <input type="text" placeholder="Email" />
                <button type="submit" class="site-btn">
                  Đăng ký
                </button>
              </form>
              <div class="footer__social">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fa fa-tiktok">
                    
                  </i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright__text">
              <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All
                rights reserved | Xuân Dũng Store
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>