{{>admin_header}}

<div class="full_container">
   <div class="container-fluid">
      <div>

         <div class="midde_cont">
            <div class="container-fluid">
               <div class="row column_title">
                  <div class="col-md-12">
                     <div class="row page_title">
                        <h2>SẢN PHẨM</h2>
                        <div class="ml-auto d-flex">
                           <div class="switch-mode">
                              <button class="switch-mode-btn" id="mode-switch">
                                 <i class="fa fa-refresh"></i>
                              </button>
                           </div>
                           <div class="form-group d-flex">
                              <input class="form-control" type="text" id="search-input" placeholder="Tìm kiếm..." value="{{ paginate.query}}"/>
                              <a class="btn btn-primary d-block" style="margin-left: 1em;" href="/admin/product/products/new">Thêm mới</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <!-- table section -->                  
                  {{#if (eq paginate.view "grid") }}
                     {{#each products }}
                           {{#product_admin this}}
                           {{/product_admin}}
                     {{/each}}
                     
                  {{else}}
                  <div class="col-md-12">
                     <div class="white_shd full margin_bottom_30">
                        <div class="table_section padding_infor_info">
                           <div class="table-responsive-sm">
                              <table class="table">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>Mã sản phẩm</th>
                                       <th>Tên sản phẩm</th>
                                       <th>Trạng thái</th>
                                       <th>Dòng sản phẩm</th>
                                       <th>Loại sản phẩm</th>
                                       <th>Nhóm sản phẩm</th>
                                       <th>Thao tác</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {{#each products }}
                                       {{#adminProduct_tableRecord this}}{{/adminProduct_tableRecord}}
                                    {{/each}}
                                 </tbody>
                              </table>
                           </div>






                        </div>
                     </div>
                  </div>
                  {{/if}}

               </div>
                  {{#tablePaginate paginate}}{{/tablePaginate}}




            </div>

            <!-- footer -->
         </div>

      </div>
   </div>
</div>


{{>admin_footer}}