{{>admin_header}}
<div class="full_container">
   <div class="container-fluid">
      <div>

         <div class="midde_cont">
            <div class="container-fluid">

               <div class="form__header__title">
                  <p>Nhóm sản phẩm mới</p>
               </div>


               <form class="generic__form" method="POST" action="/admin/product/product-group">
                  <div class="form-group">
                     <label for="madonvi_input">Mã nhóm sản phẩm</label> {{#if existed }}<span class="form__error__text">Mã nhóm này đã tồn tại</span>{{/if }}
                     <input name="group_id" type="text" class="form-control" id="madonvi_input" required>
                  </div>
                  <div class="form-group">
                     <label for="tendonvi_input">Tên nhóm</label>
                     <input name="group_name" type="text" class="form-control" id="tendonvi_input" required>
                  </div>

                  <div class="form-group">
                     <label for="dong_input">Thuộc loại sản phẩm</label>{{#if fkconflict }}<span class="form__error__text">Nhóm sản phẩm không tồn tại hoặc đã bị xóa.</span>{{/if }}
                     <select name="type_id" class="form-select form-control"  id="" required>
                        {{#each types }}
                           <option value="{{ ma_loai }}" >{{ma_loai}} - {{ ten_loai }}</option>
                        {{/each}}
                     </select>
                  </div>

                  <div class="form-group">
                     <label for="ghichu_input">Ghi chú</label>
                     <textarea name="note" style="height: 200px" class="form-control" id="ghichu_onput"></textarea>

                  </div>
                  <button type="submit" class="btn btn-primary">Thêm</button>
               </form>


            </div>

            <!-- footer -->
         </div>

      </div>
   </div>
</div>

{{>admin_success}}

{{>admin_footer}}